* {
    box-sizing: border-box;
}

body {
    background-color: #DCDCDC;
    overflow-x: hidden;
}

.bg-gradient {
    background: linear-gradient(to bottom right, blue, darkblue);
}

.forecast-card {
    flex: 1;
    background-color: darkblue;
    color: white;
    margin: 5px;
}

/*#currentWeatherTable {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin: auto;
}*/

.weatherDetailsWrapper {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Media Query for larger screens */
@media (min-width: 768px) {
    #forecastCardsContainer {
        flex-direction: row;
    }
    .forecast-card {
        flex: none;
        width: calc(18% - 10px);
    }
}

/* Media Query for smaller screens */
@media (max-width: 767px) {
    #forecastCardsContainer {
        max-width: calc(100% - 20px);
        flex-direction: column !important;
        align-items: center !important;
    }
    .weatherDetailsWrapper .forecast-card {
        max-width: calc(100% - 20px);
    }

    #weatherCards {
        max-width: calc(100% - 20px);
    }
}