* {
    box-sizing: border-box;
}

body {
    background-color: #DCDCDC;
    overflow-x: hidden;
}

.bg-gradient {
    background: linear-gradient(to bottom right, blue, darkblue);
}

.forecast-card {
    flex: 1;
    background-color: darkblue;
    color: white;
    margin: 5px;
    min-width: 150px;
}

#forecastCardsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*#currentWeatherTable {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin: auto;
}*/

.weatherDetailsWrapper {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Media Query for larger screens */
@media (min-width: 768px) {
    #forecastCardsContainer {
        flex-direction: row;
        justify-content: flex-start;
    }
    .forecast-card {
        flex: none;
        width: calc(18% - 10px);
    }
}

/* Media Query for smaller screens */
@media (max-width: 767px) {
    #forecastCardsContainer {
        max-width: calc(100% - 20px);
        flex-direction: column !important;
    }
    .forecast-card {
        width: calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}